@import 'variables';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -$footerHeight;
  &:after {
    display: block;
    height: $footerHeight;
  }
  content {
    display: block;
  }
}
.container-fluid {
    padding: 0px;
}
