@import '_variables';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -$footerHeight;
  &:after {
    content: "";
    display: block;
    height: $footerHeight;
  }
  content {
    padding: 0 10px;
  }
}

.container-fluid {
    padding: 0px;
}
