@import 'variables';
@import 'colors';

html {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: 60px;
    background-color: $bgColor;
    .container-fluid {
      padding: 0;
    }
  }
}
