@import '../../styles/_colors';

emails {
  display: block;
  text-align: center;
  .search-by-subject {
    margin-bottom: 10px;
  }
  .ngx-pagination {
    padding-left: 0;
    li {
      cursor: pointer;
    }
  }
  .filters {
    margin-bottom: 10px;
  }
}
