@import '../../../styles/_colors';

footer {
  display: block;
  height: 200px;
  width: 100%;
  background-color: $footerColor;
  padding: 10px 15px;
  a {
    color: $textColorOnDark;
    text-decoration: none;
  }
}
