@import '../../../styles/_colors';
@import '../../../styles/_variables';

.header {
  position: relative;
  margin: 0;
  height: $headerHeight;
  width: 100%;
  background-color: $headerColor;
  .logo {
    padding: 20px 0;
    a {
      color: $textColorOnDark;
      font-size: 32px;
      decoration: none;
    }
  }
}
