@import '../../../styles/_colors';

ul.reviews {
  padding: 0;
  text-align: left;
  li.filters {
    margin-bottom: 10px;
    min-height: 45px;
    a {
      color: blue;
      text-decoration: underline;
    }
  }
  li {
    margin-bottom: 10px;
    min-height: 70px;
    vertical-align: middle;
    background: $reviewColor;
    padding: 10px 10px;
    border: 1px solid $reviewsBorderColor;
    list-style: none;
    cursor: pointer;
    overflow: hidden;
    .reviews-element {
      .body {
        padding: 15px 0;
      }
    }
  }
}
