<ul class="emails">
  <!--  | paginate: { itemsPerPage: 20, currentPage: p } | searchPipe: { subject: filterText} -->
  <li *ngFor="let email of emails | paginate: { itemsPerPage: 20, currentPage: page } | searchFilter: { subject: filterText }"
      (click)="onSelect.emit(email)"
      [class.selected]="email === selectedEmail">
    <div class="emails-element">
      <div class="from">
        <strong>From: </strong>{{email.from}}
      </div>
      <div class="subject">
        <strong>Subject: </strong> {{email.subject}}
      </div>
      <div class="body">{{email.body}}</div>
    </div>
  </li>
</ul>
