<div class="container-fluid">
  <header class="header">
		<h2 class="bd-title" id="my-app-title">Email Archive Viewer</h2>
	</header>
  <div class="clearfix"></div>
	<content class="row">
		<div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<router-outlet></router-outlet>
		</div>
		<div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
	</content>
</div>
<footer class="footer">
  <div class="container-fluid">
    <p>(c) sergey.s.sergienko</p>
  </div>
</footer>
<!--<my-store-devtools *ngIf="showMonitor"></my-store-devtools>-->
