@import '../../styles/_colors';

emails {
  display: block;
  padding: 0 10px;
  li {
    height: 100px;
    background: $emailColor;
    padding: 5px;
    border: 1px solid #b5babf;
    list-style: none;
  }
}
