@import '../../../styles/_colors';

.ngx-pagination {
  padding-left: 0;
  -webkit-padding-start: 0 !important;
}
ul.emails {
  padding: 0;
  text-align: left;
  li.filters {
    min-height: 45px;
    a { color: blue; text-decoration: underline; }
  }
  li {
    min-height: 70px;
    vertical-align: middle;
    background: $emailColor;
    padding: 10px 50px;
    border: 1px solid $emailsBorderColor;
    list-style: none;
    cursor: pointer;
    .emails-element span {
      margin-right: 150px;
    }
  }
}
